.arrowUp-btn {
  border: none;
  background-color: transparent;
}

.about-this-proyect {
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 10%;
  transform: rotate(270deg);
  display: inline-block;
  position: fixed;
  bottom: 240px;
  right: -25px;
  background-color: #c7af9557;
  box-shadow: 1px 5px #c7af9585;
  color: rgba(19, 16, 15, 0.876);
  /* box-shadow: 6px -1px 12px 19px rgba(199, 175, 149, 1);
  -webkit-box-shadow: 6px -1px 12px 19px rgba(199, 175, 149, 1);
  -moz-box-shadow: 6px -1px 12px 19px rgba(199, 175, 149, 1); */
}

.about-this-proyect:hover {
  color: #ffffff;
}

.scroll-to-top {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
}
