.arrowUp-btn {
  border: none;
  background-color: transparent;
}

.about-this-proyect {
  padding: 2px 8px;
  cursor: pointer;
  transform: rotate(270deg);
  display: inline-block;
  position: fixed;
  bottom: 240px;
  right: -25px;
  font-size: xx-large !important;
  background-color: #c7af9557;
  color: rgba(19, 16, 15, 0.876);
}

.about-this-proyect {
  height: 45px;
  width: fit-content;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(247, 228, 228, 0.281) 50%,
    rgba(139, 105, 105, 0.335) 50%
  );
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  padding: 6px;
  animation: border-dance 8s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

.scroll-to-top {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
}
@media screen and (max-width: 979px) {
  .about-this-proyect {
    transform: rotate(0deg);
    position: fixed;
    bottom: 620px;
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .about-this-proyect {
    transform: rotate(0deg);
    position: fixed;
    bottom: 654px;
    right: 15px;
  }
}
