/* INDEX STYLES */

.contDiv {
  margin-left: 20%;
  margin-right: 20%;
  height: 30vh;
}
.subText {
  margin-top: 2%;
  text-align: center;
  font-weight: 301;
}

.titleIndexAdmin {
  margin-top: 3%;
  text-align: center;
}

/* INDEX STYLES */

/* PRODUCTS STYLES */
.table {
  background-color: #e2b7ac1a !important;
}

.bottonCategoria{
  background-color: transparent;
  border: 0px;
  color:gray
}

.bottonCategoria:hover{
  color:#99846caf;
}

.titlesTable{
  background-color: #c7af9533;
}

.buttonsTableProducts{
  display: inline-block;
}

.imagesNewProduct {
  height: 200px;
  width: 200px;
  border: 0.5px solid rgb(201, 200, 200);
}

.buttonCrud {
  background-color: transparent;
  border: 0.5px solid rgb(201, 200, 200);
}

.buttonCrud:hover {
  background-color: #aa847b27;
}

.irAtras {
  background-color: transparent;
  border: 0;
  font-weight: 500;
}

.titulo-Pedido{
    font-weight: 601;
    margin-right: 10px;
}

.irAtras:hover {
  color: #695652b8;
}

.textTable {
  text-align: center;
}

.nameIndividualProduct {
  font-size: x-large;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  margin-bottom: 40px;
  margin-top: 20px;
  color: gray;
}

.elementsInProductIndividual {
  border: 1px solid rgba(128, 128, 128, 0.226);
  padding: 10px;
  margin-bottom: 20px;
  color: gray;
  flex: 0 0 50%;
}

.divOfImages {
  display: flex;
}

.imagesOfProduct {
  display: inline-block;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  flex: 0 0 33.333333%;
}

.textCenter{
  text-align: center;
}

.modal-dialog{
  margin:2% !important;
}

.imagesOfProduct img {
  max-width: 100%;
  max-height: 100%;
}


.buttonUpdate {
  margin-left: 10px;
  margin-bottom: 20px;
  color: rgb(68, 66, 66);
  border: 2px solid rgba(128, 128, 128, 0.226);
  background-color: transparent;
}

.buttonUpdate:hover {
  background-color: #aa847b27;
}

.texAreaProduct {
  height: 20rem;
  border: 2px solid rgba(128, 128, 128, 0.226);
  color: rgb(68, 66, 66);
  padding: 2%;
}

.update {
  margin-top: 10px;
  margin-right: 20px;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 2s ease;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: fit-content;
}

.update:hover {
  background-position: left bottom;
  color: white;
}

.alertCorrectActualization {
  color: rgb(126, 122, 122);
  margin: 3%;
}

.itemsUpdate {
  flex: 0 0 50%;
}



.buttonGoBack{
  width: fit-content !important; 
  background-color: transparent;
  border: 0;
  color:black;
}

.buttonGoBack:hover{
  color: #956458;
}


@media screen and (max-width: 480px) {
  .itemsUpdate {
    flex: 0 0 100%;
  }
}
/* PRODUCTS STYLES */

/* USER STYLES */
.textElementInModal{
  font-weight: bold !important;
  margin-right: 20px;
}

.itemsTextOfModal{
margin-top: 0.8%;
}

.infoOrder{
  border: 0.4px solid #9b85807a;
  background-color:#e2b7ac1a ;
  padding: 2%;
}

.imageOrder {
  width: 90px !important;
  height: 80px !important;
  border: 0.5px solid rgba(128, 128, 128, 0.137);
}

.lightText{
  color: rgb(165, 163, 163);
}

/* USER STYLES */
