.footerComponent {
  margin-top: auto;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  height: 30px; */
}

ul {
  text-align: left;
  list-style: none;
  font-size: 16px;
  margin-bottom: 35px !important;
  padding-left: 0px !important;
}
ul li {
  cursor: pointer;
}

li {
  margin: 10px 0;
  color: #7a7a7a;
  font-weight: 500;
}

ul h5 {
  margin-bottom: 20px;
  font-size: 14px;
}
.icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.icons:hover {
  fill: black;
}

.sn-icons,
.preciosIVA {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
  color: #7a7a7a;
  font-weight: bolder;
}

.footerSearch {
  width: 85%;
  border: none;
  border-bottom: #d6d6d6 solid 0.8px;
}
.footerSearch:focus {
  border-bottom: solid 0.8px #c27f6e;
  outline: none;
}

.dividerLine {
  display: flex;
  justify-content: center;
  color: #d6d6d6;
  margin: 20px auto 10px auto;
}

.gemaLogoFooter {
  height: 250px;
  width: 250px;
}

.bottom-banner {
  height: 60px;
  background-color: #f7f0ea;
  color: #7b5a52;
}

.copyright {
  font-family: Cormorant;
  color: #7b5a52;
  font-weight: 50;
}

.aboutUs {
  text-decoration: none;
  color: #7a7a7a;
  font-weight: 500;
}
.aboutUs:hover {
  color: #4c4c4c;
}

.Toastify__progress-bar-theme--light{
  background: #6d443a86 !important;
}


