.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imageHomeDiv {
  width: 280px;
  padding-right: 2%;
}

.imageHomeStock {
  width: 100%;
  height: 50%;
}

.imageHomeBig {
  object-fit: fill !important;
}

.animatedImages {
  animation: slideInFromRight 3s ease-in;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.container:hover .image {
  opacity: 0.8;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.descubrir {
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-left: 10px;
  transition: all 0.2s ease;
  border: 1px solid black;
  color: black;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  width: 90%;
}
.descubrir:hover {
  background-position: left bottom;
  color: white;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.8px;
  bottom: 0;
  left: 0;
  background-color: #6b6969b4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.homeButton {
  margin-top: 10px;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-left: 10px;
  transition: all 0.2s ease-in;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.homeButton:hover {
  background-position: left bottom;
  color: white;
}

.underline {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #ff0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.qodef-header-navigation li a > span:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.enStock {
  font-family: Cormorant;
  color: #7b5a52;
  font-weight: 50;
}

.boldCollection {
  font-weight: 1000;
  text-align: center;
}

#imageHome {
  display: inline-block !important;
  height: 100% !important;
  object-fit: cover !important;
}

.logoGemaHome {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-decoration: none !important;
}

.removeLinkDeco {
  text-decoration: none !important;
  color: black;
}
.hashtag {
  color: #7b5a52;
  font-family: Cormorant;
  font-size: smaller;
}

.removeLinkDeco:hover {
  text-decoration: none !important;
  color: #7b5a52 !important;
  opacity: 0.8;
}

@media screen and (max-width: 958px) {
  .imageDivCart {
    display: none;
  }
}
.transition {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
