.icons {
  height: 19px;
  width: 16px;
  color: #ab836e;
  font-weight: bold;
}
.link-icons {
  cursor: pointer;
}

.cart {
  margin-left: 2px;
}

.home-logo {
  height: 80px;
  /* width: fit-content; */
  position: relative;
  /* left: -69px; */
}

.top-banner {
  background-color: #c7af95;
  height: 35px;
  color: white;
}

.headerSearch {
  width: 50%;
  border: none;
  border-bottom: #d6d6d6 solid 0.8px;
}
.headerSearch:focus {
  border-bottom: solid 0.8px #c27f6e;
  outline: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  height: fit-content !important;
  width: 300px !important;
  text-align: left !important;
  background-color: #faf6f2 !important;
  border: solid 1px #faf6f2 !important;
  padding: 27px 0 28px !important;
  border-radius: none !important;
}

.dropdown-item {
  padding: 6px 45px !important;
  color: grey !important;
}
.dropdown-item:hover {
  color: black !important;
  background-color: #faf6f2 !important;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    background-color: #faf6f2;
    display: inline-block;
  }

  .navbar-nav-scroll {
    max-height: 200px !important;
    padding: 20px 40px !important;
  }
}

.underline-animation {
  display: inline-block;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navIcons {
  justify-content: right;
  position: relative;
  right: 20px;
}

.navbar-toggler span {
  background-image: url("../svg/bars-solid.svg") !important;
}

.searchUnderline {
  display: inline;
  margin-left: 20px;
  text-decoration: 0.6px underline rgba(114, 94, 94, 0.263);
  color: transparent;
}

.itemsNavBar {
  margin-left: 20px;
  margin-right: 20px;
}

.allNavbar {
  border-bottom: #d6d6d6 solid 0.8px;
}

@media screen and (min-width: 768px) {
  .customNavbarBrand {
    width: 100%;
  }
}
