.oneProductSection {
  padding-top: 100px;
  padding-bottom: 150px;
}
.productInformation h1 {
  color: #303030;
  font-size: 24px !important;
  margin: 0 0 25px;
  font-weight: 600;
}

.productInformation h3 {
  font-weight: 400;
  font-size: 25px;
}

.productInformation h6 {
  margin: 100px 0;
  color: #757575;
  font-weight: 700;
}
.productStock {
  font-weight: 700;
  margin: 31px 0 18px;
  font-size: 14px;
  letter-spacing: 0.07rem;
}

.productImg {
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  margin: 40px 0;
}

.quantityBtn {
  padding: 10px 20px;
  font-size: 11px;
  border: rgb(146, 146, 146) solid 0.5px;
  background-color: transparent;
  margin-right: 30px;
  display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addToCartBtn {
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease;
  border: 1px solid black;
  color: black;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.description {
  color: #757575;
  text-align: center;
}

.careTips {
  text-decoration: none !important;
  color: #7b5a52;
}
.careTips:hover {
  text-decoration: none !important;
  color: #7b5a52;
}

.includes {
  font-weight: 900;
}

.recommendations {
  margin-top: 80px;
}
.recommendations h4 {
  margin: 30px 0;
  font-weight: 600;
}

/* ALL PRODUCTS STYLES */

.productList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.product-title,
.textProductsStart {
  font-weight: 700;
  color: #7a7a7a;
  font-size: 14px;
}
.product-title-link {
  text-decoration: none;
}

.product-title:hover {
  color: none;
}

.textProductsStart {
  font-weight: 350;
  color: #7a7a7a;
}
.product-price {
  font-weight: 350;
  color: #7a7a7a;
}

.card {
  list-style: none;
  flex: 0 0 33.333333%;
  border-radius: 0px !important;
}

#button-div {
  position: absolute;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
}

/* #button-div:hover .addToCart {
  display: inline-block;
}
#button-div:hover {
  background-color: rgba(255, 255, 255, 0.582);
} */

.addToCart {
  margin-top: 10px;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-left: 10px;
  transition: all 0.2s ease;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  width: 80%;
}

/* .addToCart:hover {
  background-position: left bottom;
  color: white;
} */

.input {
  border: 0 solid;
}

/* @media screen and (max-width: 1069px) {
  .card {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex: 0 0 100%;
  }
} */
