.profileForm {
  max-width: 80rem;
  text-align: left;
}

.signInForm,
.editForm {
  padding: 200px 0;
}
.registerForm {
  padding: 100px 0 200px;
}
.obligatory,
.requireMessage {
  color: #8f2f26;
}

.form-control {
  border-radius: 0 !important;
  padding: 10px !important;
  font-weight: bold !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 0.5px solid rgb(75, 75, 75) !important;
  padding: 10px !important;
}

.login-btn,
.register-btn,
.save-btn,
.logout-btn {
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
  border: 1px solid black;
  color: black;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.login-btn:hover,
.register-btn:hover,
.save-btn:hover,
.logout-btn:hover {
  background-position: left bottom;
  color: white;
}

.rememberMe,
.forgetPassword {
  font-size: 16px;
  color: #757575;
  text-decoration: none;
}

.forgetPassword:hover {
  color: #6a6a6a;
}

.cart-icon,
.home-icon {
  height: 16px;
  width: 16px;
}

.cart-link,
.home-link {
  color: #ab836e;
  text-decoration: none;
}

.cart-link:hover,
.home-link:hover {
  color: #644c3f;
}

.userEdited {
  width: 280px;
}

.userOrders {
  margin-top: 4rem;
}
